
body{
    font-family: 'Nunito', sans-serif;
}

#crear{
    font-family: 'Nunito', sans-serif;
}

#titulo{
    font-family: 'Nunito', sans-serif;
}

.important{
    background-color: aquamarine;
}

.fa-trash{
    color:red
}

.fa-blog{
    color:blue
}
.fa-cart-shopping{
    color:rgb(0, 242, 24)
}


#titulocompra{
    
    font-size: 30px;
}
#seccion_blog{
    margin-right: 25%;
    text-align: center;
}


#tituloblog{
    font-size:50px;
    padding: 5px 5px;
    border: 5px solid #0909ee;
    border-radius: 20px;
    max-width: 210px;

}

#seccion_lista{
    float: right;
}


#lista{
    border:1px solid#000;
    border-radius: 20px;
}
article{
    border: 1px solid#000;
    margin-top: 10px;
    padding-left: 10px;
    border-radius: 20px;
}
